@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Merriweather:wght@300;400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header, .banner{
    width: 100%;
    max-width: 1600px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.banner-imge{
    margin-top: 50px;
    width: 82%;
    height: 500px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 191, 255, 0)), url('../resources/Banner\ Image.png') center/cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.banner h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 5px;
    margin-top: 20%; 
}

.banner h1{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 5px;
    
}

.saller-offer{
    width: 82%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.saller-offer p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 29px;
    color: red;
}

.saller-offer h1{
    font-family:Inter;
    font-size: 60px;
    font-weight: 700;
    color: red;
}

.saller-offer h2{
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}

.saller-offer img{
    width: 50%;
}

/* invite section */
.invite-img{
    margin-top: 50px;
    width: 82%;
    height: 500px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 191, 255, 0)), url('../resources/Vectorrr.png') center/cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    color: white;
    display: flex;
}

.invite-text{
    padding: 120px 0px 120px 120px ;
    display: flex;
    flex-direction: column;
}

.invite-text h1{
    color: white;
    letter-spacing: 6px;
    line-height: 70px;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: left;
}

.invite-text p{
    color: lightgray;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: left;
}

.invite-text button{
    width: 20%;
    height: 20%;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all ease .5s;
    border-radius: 5px;
}

.invite-text button:hover{
    border: 2px solid white;
}

.invite-year{
    padding: 55px;
    
}

.invite-year img{
    width: 100%;
    height: 700;
    margin-top: 70px;
}

/* join section */

.join{
    margin-top: 120px;
    width: 82%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(226, 1, 1, 0.1) 0%, rgba(116, 5, 5, 0) 100%);
    border-radius: 25px;
}

.join p{
    
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.join p span{
    color: red;
}

.join button{
    margin-top: 40px;
    width: 100px;
    height: 40px;
    color: white;
    background: red;
    text-align: center;
    justify-self: center;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all ease .5s;
    outline: none;
    cursor: pointer;


}

.join button:hover{
    border: 2px solid black;
}

/* coming soon section */

.coming-soon{
    height: 460px;
    width: 82%;
    display: flex;
    margin-top: 120px;   
}

.text-left{
    padding: 110px;
    padding-right: 40px;
    text-align: left;
    justify-content: space-between;
}
.text-left h4{
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.text-left h1{
    color: rgb(0, 0, 0);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.text-left  p{ 
    color: lightslategray;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.coming-imge img{
    height: 100%;
}

.coming-imge{
    padding: 20px;
    border: 20px solid red;
    border-radius: 50%;
}


.text-right{
    padding: 110px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-right h2{
    color: red;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
}

.text-right p{
    color: lightslategray;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.text-right img{
    width: 60%;
}


/*holiday section */
.holiday{
    margin-top: 120px;
    width: 82%;
    text-align: center;
}
 .holiday h4{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
 }

 .holiday h1{
    font-family: Merriweather;
    font-size: 48px;
    color: black;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
 }

 .holiday span{
    color: red;
 }

.holiday p{
    color: lightslategray;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    line-height: 30px;

}

.image{
    width: 82%;
    height: 563px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.all-image{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: right;
}
 .image img{
    border-radius: 15px;
 }

.imge1{
    height: auto;
    position: relative;
    top: 8vw;
    left: 8vw;
 }

.imge2{
    height: 60%;
    position: relative;
    right: -130px;
    top: 80px;
    z-index:300;    
}

.imge3{
    height: auto;
    border-radius: 25px;
}
/*--protfolio--*/

.protfolio{
    width: 82%;
    margin-top: 120px;

}
.pro-text{
    text-align: left;
}
.pro-text h4{
    color: red;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.pro-text h1{
    color: black;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.pro-text p{
    color: lightslategray;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 40px;
}

.pro-imge-r1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pro-imge-r1 img{
    width: 32%;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: all ease .5s;
    cursor: pointer;
}

.pro-imge-r2{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.pro-imge-r2 img{
    width: 32%;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: all ease .5s;
    cursor: pointer;
}

.pro-imge-r1 img:hover, .pro-imge-r2 img:hover{
    border: 2px solid black;
    transform: translateY(4px);
    box-shadow: 15px 5px 30px red;

}







